<!DOCTYPE html>
<!--Document Type Definition HTML 5であることを明記-->

<html lang="ja">

<head>
    <!--タイトル--><title>toutatsu Gihub Pages template</title>
    <script src='/template/template.js'></script>
</head>
<body>

    <h1>head</h1>
    template.html
    <br>

    テンプレート用html

    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script>
        var Markdown= new XMLHttpRequest();

        Markdown.open("GET", 'https://raw.githubusercontent.com/toutatsu/git_practice/main/README.md', false);
        Markdown.send(null);
        document.body.insertAdjacentHTML('beforeEnd',marked(Markdown.responseText))
    </script>

</body>