*{
    margin: 0px;
    padding: 0px;
}

/* dark mode */
/* @media(prefers-color-scheme: dark){
  body {
    background-color: #000;
    color: #fff;
  }
} */

/* header */
header{
    /* color: white; */
    text-align: left;
    padding-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Meiryo","ヒラギノ角ゴ",sans-serif;
    /* font-size:x-large; */
    color: white;
    background:rgb(5, 10, 37);
    height: 20%;
}
#header_title{
    font-size: 200%;
}


/* nav */
.crumbs{
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 239, 253);
}

.crumb{
    display: inline-block;
    color: black;
}

.crumbs li:not(:first-child)::before {
    content: ">";
    font-weight: bold;
    padding: 0 10px;
    color: #000;
}

/* main */
main{
    height: auto;
    padding: auto;
    display: flex;
}

/* article */
article {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    /* height: max-content; */
    width: 70%;
    /* background-color:ghostwhite; */
}

/* sidebar */
aside{
    min-height: 100vh;
    /* height: 100%; */
    background-color: rgba(236, 236, 236, 0.726);
    overflow: scroll;
}
#left-sidebar {
    width:10%;
    float:left;
}
#right-sidebar {
    width:10%;
    float: left;
}
#table_of_contents ul{
    color: aqua;
    padding: 10px ;
    font-size: small;
}

/* table of contents */
.contents1 {
    margin-left: 0px;
}
.contents2 {
    margin-left: 15px;
}
.contents3 {
    margin-left: 30px;
}
.contents4 {
    margin-left: 45px;
}
.contents5 {
    margin-left: 60px;
}
.contents6 {
    margin-left: 75px;
}

/* footer */
footer{
    color: white;
    text-align: center;
    font-size: small;
    width:100%;
    height: auto;
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
    background:black;
}

#copyright{
    color:gray;
    font-size: small;
    text-align: center;
}

.fab fa-github{
    color: wheat;
}

pre code {/*code block*/
    font-size: large;
    border: 3px solid darkblue;
    display: block;
    padding: 10px;
    overflow: scroll;
}

.copy_button {
    /* float: right; */
}

h1, h2, h3, h4, h5, h6{
    border-bottom-style:groove
}