*{
    margin: 0px;
    padding: 0px;
}

/* dark mode */
/* @media(prefers-color-scheme: dark){
  body {
    background-color: #000;
    color: #fff;
  }
} */

/* header */
header{
    /* color: white; */
    text-align: left;
    padding-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Meiryo","ヒラギノ角ゴ",sans-serif;
    /* font-size:x-large; */
    /* background:rgb(1, 9, 77); */
    height: 20%;
}
#header_title{
    font-size: 200%;
}


/* nav */
.crumbs{
    display: flex;
    justify-content: space-around;
    background-color: beige;
}

.crumb{
    display: inline-block;
    color: black;
}

.crumbs li:not(:first-child)::before {
    content: ">";
    font-weight: bold;
    padding: 0 10px;
    color: #000;
}

/* main */
main{
    /* height:10cm; */
    padding: auto;
    overflow: hidden;
}

/* article */
article {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 70%;
    height: 100%;
    /* background-color:ghostwhite; */
}

/* sidebar */
aside{
    height: max-content;
    background-color: rgb(234, 253, 232);
    height: auto;
}
#left-sidebar {
    width:10%;
    height: auto;
    float:left;
}
#right-sidebar {
    width:10%;
    height: auto;
    float: left;
}
#table_of_contents ul{
    color: aqua;
    padding: 10px ;
    font-size: small;
    
    
}

/* table of contents */
.contents1 {
    margin-left: 0px;
}
.contents2 {
    margin-left: 15px;
}
.contents3 {
    margin-left: 30px;
}
.contents4 {
    margin-left: 45px;
}
.contents5 {
    margin-left: 60px;
}
.contents6 {
    margin-left: 75px;
}

/* footer */
footer{
    color: white;
    text-align: center;
    font-size: small;
    width:100%;
    height: auto;
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
    background:black;
}

#copyright{
    color:gray;
    font-size: small;
    text-align: center;
}

.fab fa-github{
    color: wheat;
}