*{
    margin: 0px;
    padding: 0px;
}
/* body{

}

/* header */
header{
    color: white;
    text-align: center;
    background:rgb(1, 9, 77);
    height: 50px;
}


/* nav */
.crumbs{
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
}

.crumb{
    display: inline-block;
    color: black;
}

.crumbs li:not(:first-child)::before {
    content: ">";
    font-weight: bold;
    padding: 0 10px;
    color: #000;
}

/* main */
main{
    padding: auto;
    overflow: hidden;
}

/* article */
article {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 70%;
    background-color:ghostwhite;
    height: auto;
}

/* sidebar */
aside{
    height: max-content;
    background-color: bisque;
    height: 100%;
}
#left-sidebar {
    width:10%;
    float:left;
}
#right-sidebar {
    width:10%;
    float: left;
}
#table_of_contents ul{
    color: aqua;
    padding: 10px ;
    font-size: small;
    
    
}

/* table of contents */
.contents1 {
    margin-left: 0px;
}
.contents2 {
    margin-left: 15px;
}
.contents3 {
    margin-left: 30px;
}
.contents4 {
    margin-left: 45px;
}
.contents5 {
    margin-left: 60px;
}
.contents6 {
    margin-left: 75px;
}

/* footer */
footer{
    color: white;
    text-align: center;
    font-size: small;
    width:100%;
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
    background:black;
}

#copyright{
    color:gray;
    font-size: small;
    text-align: center;
}

.fab fa-github{
    color: wheat;
}